// Nav bar and header
@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/defaults/colors";
@import "./styles/components/utils";

header {
	.nav-bar {
		.home-link {
			color: $font-secondary;
		}
		.about-link {
			color: $font-primary;
		}
		.projects-link {
			color: $font-primary;
		}
		.contacts-link {
			color: $font-primary;
		}
	}
}

body {
	@include background-default();
	display: flex;
	flex-direction: column;
}

// container for the intro text and image of the main page
main {
	.intro-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		img {
			width: 250px;
			padding: 15px;
			border-radius: 20%;
		}

		.intro {
			max-width: 50%;
			color: $font-primary;
			font-family: "Source Sans Pro", sans-serif;
			font-size: 2rem;
			margin-left: 20px;
			padding-left: 10px;

			span {
				color: $font-secondary;
			}
		}
	}
}

// Mobile view
@media screen and (max-width: 600px) {
	main {
		.intro-container {
			margin-top: 80px;
			.intro {
				padding-top: 20px;
				margin-bottom: 80px;
			}
		}
	}
}
