@import "../../styles/components/header";
@import "../../styles/components/footer";
@import "../../styles/defaults/colors";
@import "../../styles/components/utils";

header {
	.nav-bar {
		.about-link {
			color: $font-secondary;
		}
		.projects-link {
			color: $font-primary;
		}
		.home-link {
			color: $font-primary;
		}
		.contacts-link {
			color: $font-primary;
		}
	}
}

body {
	@include background-default();
	display: flex;
	flex-direction: column;
}

main {
	.about {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		font-family: "Source Sans Pro", sans-serif;

		.about-heading {
			margin-bottom: 150px;

			font-size: 5.5rem;

			color: $font-primary;

			text-shadow: 2px 4px 9px $font-secondary;
		}

		.about-content {
			display: flex;
			justify-content: space-around;
			padding: 20px;

			font-size: 1.3rem;

			.about-profile {
				max-width: 40%;
				// align-items: center;
				color: $font-primary;
				font-size: 1.5rem;
			}

			//logo rows
			.skills-row {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 10px;
				text-align: center;
			}

			.fa-brands {
				padding: 5px;
			}

			.logo-name {
				padding: 5px;
			}

			//skills logos and associated text
			.skills {
				margin-left: 50px;
				display: flex;
				justify-content: center;
				padding: 10px;
				border-radius: 45px;
				margin-bottom: 50px;

				background-color: $background-secondary;

				i {
					font-size: 3.5rem;
					color: $font-secondary;
				}

				//logo colors
				.fa-sass {
					color: pink;
				}

				.fa-js {
					color: #f0db4f;
				}

				.fa-html5 {
					color: #e44d26;
				}

				.fa-css3-alt {
					color: #264de4;
				}

				.fa-python {
					color: #306998;
				}

				.fa-react {
					color: #61dbfb;
				}

				.fa-git-alt {
					color: #f34f29;
				}

				.fa-node {
					color: #68a063;
				}

				//logo-text
				.logo-name {
					font-size: 1rem;
					color: $font-primary;
					font-family: "Source Sans Pro", sans-serif;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	main {
		.about {
			.about-heading {
				margin-bottom: 80px;
				font-size: 4.5rem;
			}
			.about-content {
				align-items: center;
				flex-direction: column;

				.about-profile {
					max-width: 80%;
					font-size: 1.3rem;
				}

				.skills {
					margin-top: 50px;
					margin-bottom: 50px;
					margin-right: 50px;
				}
			}
		}
	}
}
