header {
  display: flex;
  margin-bottom: auto;
  padding: 1rem;
  background-color: rgb(64, 62, 62);
  width: 100%;
  box-sizing: border-box;
}
header .nav-bar a {
  color: white;
  text-decoration: none;
  padding: 8px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  box-sizing: border-box;
}
header .nav-bar a:hover {
  color: orange;
}

@media screen and (max-width: 600px) {
  header {
    justify-content: center;
  }
}
footer {
  margin-top: auto;
  display: flex;
  padding: 1.5rem;
  background-color: rgb(64, 62, 62);
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
footer .fa-github {
  color: white;
  font-size: 2rem;
  padding: 0px 20px 5px 5px;
}
footer .fa-linkedin {
  color: white;
  font-size: 2rem;
  padding: 0px 20px 5px 5px;
}
footer .fa-linkedin:hover {
  color: orange;
}
footer .fa-github:hover {
  color: orange;
}

.icon-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 30px;
}

@media screen and (max-width: 600px) {
  .icon-container {
    justify-content: center;
    margin: auto;
  }
}
header .nav-bar .about-link {
  color: orange;
}
header .nav-bar .projects-link {
  color: white;
}
header .nav-bar .home-link {
  color: white;
}
header .nav-bar .contacts-link {
  color: white;
}

body {
  background-color: rgb(22, 22, 22);
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

main .about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Source Sans Pro", sans-serif;
}
main .about .about-heading {
  margin-bottom: 150px;
  font-size: 5.5rem;
  color: white;
  text-shadow: 2px 4px 9px orange;
}
main .about .about-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 1.3rem;
}
main .about .about-content .about-profile {
  max-width: 40%;
  color: white;
  font-size: 1.5rem;
}
main .about .about-content .about-profile a {
  text-decoration: none;
}
main .about .about-content .about-profile a span {
  color: orange;
  font-style: italic;
}
main .about .about-content .skills-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
main .about .about-content .fa-brands {
  padding: 5px;
}
main .about .about-content .logo-name {
  padding: 5px;
}
main .about .about-content .skills {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 45px;
  margin-bottom: 50px;
  background-color: rgb(64, 62, 62);
}
main .about .about-content .skills i {
  font-size: 3.5rem;
  color: orange;
}
main .about .about-content .skills .fa-sass {
  color: pink;
}
main .about .about-content .skills .fa-js {
  color: #f0db4f;
}
main .about .about-content .skills .fa-html5 {
  color: #e44d26;
}
main .about .about-content .skills .fa-css3-alt {
  color: #264de4;
}
main .about .about-content .skills .fa-python {
  color: #306998;
}
main .about .about-content .skills .fa-react {
  color: #61dbfb;
}
main .about .about-content .skills .fa-git-alt {
  color: #f34f29;
}
main .about .about-content .skills .fa-node {
  color: #68a063;
}
main .about .about-content .skills .logo-name {
  font-size: 1rem;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 600px) {
  main .about .about-heading {
    margin-bottom: 80px;
    font-size: 4.5rem;
  }
  main .about .about-content {
    align-items: center;
    flex-direction: column;
  }
  main .about .about-content .about-profile {
    max-width: 80%;
    font-size: 1.3rem;
  }
  main .about .about-content .skills {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
  }
}/*# sourceMappingURL=about.css.map */