header {
  display: flex;
  margin-bottom: auto;
  padding: 1rem;
  background-color: rgb(64, 62, 62);
  width: 100%;
  box-sizing: border-box;
}
header .nav-bar a {
  color: white;
  text-decoration: none;
  padding: 8px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  box-sizing: border-box;
}
header .nav-bar a:hover {
  color: rgb(229, 153, 12);
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }
}
footer {
  margin-top: auto;
  display: flex;
  padding: 1rem;
  background-color: rgb(64, 62, 62);
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
footer .fa-github {
  color: white;
  font-size: 2rem;
  padding: 0px 20px 5px 5px;
}
footer .fa-linkedin {
  color: white;
  font-size: 2rem;
  padding: 0px 20px 5px 5px;
}
footer .fa-linkedin:hover {
  color: rgb(229, 153, 12);
}
footer .fa-github:hover {
  color: rgb(229, 153, 12);
}

.icon-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .icon-container {
    justify-content: center;
    margin: auto;
  }
}
header .nav-bar .contact-link {
  color: rgb(229, 153, 12);
}
header .nav-bar .home-link {
  color: white;
}
header .nav-bar .about-link {
  color: white;
}
header .nav-bar .projects-link {
  color: white;
}

body {
  background-color: rgb(23, 22, 22);
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}
main h2 {
  color: rgb(229, 153, 12);
  font-size: 2.5rem;
  color: white;
  border-bottom: 9px solid rgb(229, 153, 12);
}
main form {
  margin-bottom: 40px;
}
main form .form-elements {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
main form .form-elements label {
  font-size: 1.2rem;
  color: white;
}
main form .form-elements .form-input {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid white;
  border-radius: 4px;
  outline: none;
  font-size: 1.2rem;
  background-color: rgb(64, 62, 62);
  color: white;
}
main form .form-elements .form-input:not(.form-textarea) {
  height: 32px;
}
main form .form-elements .form-input.form-textarea {
  resize: none;
}
main form .btn-div {
  text-align: center;
}
main form .btn-div #submit {
  height: 40px;
  min-width: 120px;
  background-color: rgb(229, 153, 12);
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 1.1rem;
}
main form .btn-div #submit:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(229, 153, 12);
}

@media (min-width: 768px) and (max-width: 1050px) {
  main form .form-elements {
    flex-direction: row;
    justify-content: space-between;
  }
  main form .form-elements .form-input {
    width: 70%;
  }
}
@media screen and (min-width: 1051px) {
  main h2 {
    font-size: 3.5rem;
  }
  main form .form-elements {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  main form .form-elements .form-input {
    width: 70%;
  }
  main form .btn-div {
    margin-top: 40px;
  }
}/*# sourceMappingURL=contact.css.map */