// @import "/styles/components/header";
// @import "/styles/components/footer";
// @import "/styles/defaults/colors";
// @import "/styles/components/utils";

@import "../../styles/components/header";
@import "../../styles/components/footer";
@import "../../styles/defaults/colors";
@import "../../styles/defaults/breakpoints";
@import "../../styles/components/utils";

// nav link
header {
	.nav-bar {
		.contact-link {
			color: $font-secondary;
		}
		.home-link {
			color: $font-primary;
		}
		.about-link {
			color: $font-primary;
		}
		.projects-link {
			color: $font-primary;
		}
	}
}

// Code to add background color and push footer to bottom of page
body {
	@include background-default();
	display: flex;
	flex-direction: column;
}

// Mobile View
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Source Sans Pro", sans-serif;

	h2 {
		color: $font-secondary;

		font-size: 2.5rem;

		color: $font-primary;

		border-bottom: 9px solid $font-secondary;
	}

	form {
		margin-bottom: 40px;

		.form-elements {
			display: flex;
			flex-direction: column;
			margin-bottom: 24px;
			label {
				font-size: 1.2rem;
				color: $font-primary;
			}

			.form-input {
				font-family: "Times New Roman", Times, serif;
				border: 1px solid $font-primary;
				border-radius: 4px;
				outline: none;
				font-size: 1.2rem;
				background-color: $background-secondary;
				color: $font-primary;

				&:not(.form-textarea) {
					height: 32px;
				}

				&.form-textarea {
					resize: none;
				}

				// &:focus {
				// 	box-shadow: 0 0 8px 3px $font-primary;
				// }
			}
		}

		.btn-div {
			text-align: center;

			#submit {
				height: 40px;
				min-width: 120px;
				background-color: $font-secondary;
				color: $font-primary;
				border-radius: 4px;
				border: none;
				outline: none;
				font-size: 1.1rem;

				&:hover {
					cursor: pointer;
					background-color: $font-primary;
					color: $font-secondary;
				}
			}
		}
	}
}

//BREAKPOINTS

// Tablet view
@media (min-width: $medium-min) and (max-width: $medium-max) {
	main {
		form {
			.form-elements {
				flex-direction: row;
				justify-content: space-between;

				.form-input {
					width: 70%;
				}
			}
		}
	}
}

// Desktop view
@media screen and (min-width: $large) {
	main {
		h2 {
			font-size: 3.5rem;
		}
		form {
			.form-elements {
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 30px;

				.form-input {
					width: 70%;
				}
			}
			.btn-div {
				margin-top: 40px;
			}
		}
	}
}
