header {
  display: flex;
  margin-bottom: auto;
  padding: 1rem;
  background-color: rgb(64, 62, 62);
  width: 100%;
  box-sizing: border-box;
}
header .nav-bar a {
  color: white;
  text-decoration: none;
  padding: 8px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  box-sizing: border-box;
}
header .nav-bar a:hover {
  color: rgb(229, 153, 12);
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }
}
footer {
  margin-top: auto;
  display: flex;
  padding: 1rem;
  background-color: rgb(64, 62, 62);
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
footer .fa-github {
  color: white;
  font-size: 2rem;
  padding: 0px 20px 5px 5px;
}
footer .fa-linkedin {
  color: white;
  font-size: 2rem;
  padding: 0px 20px 5px 5px;
}
footer .fa-linkedin:hover {
  color: rgb(229, 153, 12);
}
footer .fa-github:hover {
  color: rgb(229, 153, 12);
}

.icon-container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .icon-container {
    justify-content: center;
    margin: auto;
  }
}
html {
  scroll-behavior: smooth;
}

header .nav-bar .projects-link {
  color: rgb(229, 153, 12);
}
header .nav-bar .about-link {
  color: white;
}
header .nav-bar .home-link {
  color: white;
}
header .nav-bar .contacts-link {
  color: white;
}

body {
  background-color: rgb(23, 22, 22);
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

main {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .header-title {
  margin-bottom: 150px;
  font-size: 5.5rem;
  color: white;
  border-bottom: 18px solid rgb(229, 153, 12);
}
main .blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-right: 24px;
}
main .blog-container ul {
  text-align: center;
  margin-bottom: 230px;
  list-style-type: none;
}
main .blog-container ul strong {
  font-size: 2.8rem;
  border-bottom: 6px solid rgb(229, 153, 12);
}
main .blog-container ul .list {
  margin-top: 30px;
  font-size: 1.5rem;
}
main .blog-container ul .list li {
  padding: 5px;
  text-align: left;
}
main .blog-container ul .list li a {
  text-decoration: none;
  color: white;
}
main .blog-container ul .list li a:hover {
  color: rgb(229, 153, 12);
}
main .blog-container ul .list li .list-date {
  font-size: 1rem;
  font-style: italic;
  margin-left: 10px;
}
main .blog-container .blog-post {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}
main .blog-container .blog-post .header-text .blog-title {
  margin-bottom: 6px;
}
main .blog-container .blog-post .header-text .blog-title strong {
  font-size: 1.8rem;
}
main .blog-container .blog-post .header-text .blog-text {
  margin-bottom: 24px;
  font-size: 1.2rem;
}
main .blog-container .blog-post img {
  width: 450px;
}

@media screen and (max-width: 1000px) {
  main {
    overflow-x: hidden;
  }
  main .blog-container ul {
    padding: 10px;
  }
  main .blog-container ul .list li .list-title {
    text-align: left;
  }
  main .blog-container ul .list li .list-date {
    text-align: end;
  }
  main .blog-container .blog-post {
    padding: 24px;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  main .blog-container .blog-post img {
    margin-bottom: 62px;
    width: 350px;
    box-sizing: border-box;
  }
  main .blog-container .blog-post .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .blog-container .blog-post .header-text .blog-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    border-bottom: 6px solid rgb(229, 153, 12);
  }
  main .blog-container .blog-post .header-text .blog-title .blog-date {
    font-style: italic;
  }
  main .blog-container .blog-post .header-text .blog-title strong {
    font-size: 1.8rem;
  }
  main .blog-container .blog-post .header-text .blog-text {
    padding: 15px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  main .blog-container {
    flex-direction: row;
  }
  main .blog-container .blog-post {
    flex-direction: container;
    margin-bottom: 200px;
  }
  main .blog-container .blog-post img {
    width: 600px;
  }
  main .blog-container .blog-post .header-text .blog-title {
    margin-bottom: 32px;
  }
  main .blog-container .blog-post .header-text .blog-title .blog-date {
    margin-left: 10px;
    font-style: italic;
  }
  main .blog-container .blog-post .header-text .blog-title strong {
    border-bottom: 6px solid rgb(229, 153, 12);
    font-size: 2rem;
  }
  main .blog-container .blog-post .header-text .blog-text {
    max-width: 70%;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=projects.css.map */