@import "../../styles/components/header";
@import "../../styles/components/footer";
@import "../../styles/defaults/colors";
@import "../../styles/components/utils";

// @import "/styles/components/header";
// @import "/styles/components/footer";
// @import "/styles/defaults/colors";
// @import "/styles/components/utils";

header {
	.nav-bar {
		.projects-link {
			color: $font-secondary;
		}

		.about-link {
			color: $font-primary;
		}

		.home-link {
			color: $font-primary;
		}
		.contacts-link {
			color: $font-primary;
		}
	}
}

body {
	@include background-default();
	display: flex;
	flex-direction: column;
}

main {
	color: $font-primary;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.blog-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		margin-left: 24px;
		margin-right: 24px;

		// flex-wrap: wrap;

		.blog-post {
			display: flex;
			flex-direction: row;

			margin-bottom: 24px;

			.blog-date {
				margin-bottom: 6px;
			}

			.blog-text {
				margin-bottom: 24px;
			}

			img {
				width: 350px;
			}
		}
	}
}

// Mobile view
@media screen and (max-width: 600px) {
	main {
		.blog-container {
			.blog-post {
				flex-wrap: wrap;
			}
		}
	}
}
