@import "../defaults/colors";

footer {
	margin-top: auto;

	display: flex;
	padding: 1rem;
	background-color: $background-secondary;
	justify-content: center;

	width: 100%;
	box-sizing: border-box;

	// social media icons
	.fa-github {
		color: white;
		font-size: 2rem;
		padding: 0px 20px 5px 5px;
	}

	.fa-linkedin {
		color: white;
		font-size: 2rem;
		padding: 0px 20px 5px 5px;
	}

	.fa-linkedin:hover {
		color: $font-secondary;
	}

	.fa-github:hover {
		color: $font-secondary;
	}
}

.icon-container {
	width: 80%;
	display: flex;
	justify-content: flex-end;
}

// Mobile view - center Footer Links
@media screen and (max-width: 600px) {
	.icon-container {
		justify-content: center;
		margin: auto;
	}
}
