@import "../defaults/colors";

header {
  display: flex;
  margin-bottom: auto;
  padding: 1rem;
  background-color: $background-secondary;
  justify-content: center;
  width: 100%;

  .nav-bar {
    a {
      color: $font-primary;
      text-decoration: none;
      padding: 8px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.3rem;
    }

    #home-link {
      color: $font-secondary;
      border-color: black;
    }

    a:hover {
      color: $background-primary;
    }
  }
}
