// Default color, and view height for each page - used to push footer to bottom of page.
@mixin background-default() {
	background-color: $background-primary;
	min-height: 100vh;
	margin: 0;
	padding: 0px;
}
