// Nav bar
header {
  display: flex;
  margin-bottom: auto;
  padding: 1rem;
  background-color: rgb(73, 73, 73);
  justify-content: center;
  width: 100%;

  .nav-bar {
    a {
      color: white;
      text-decoration: none;
      padding: 8px;
    }

    a:hover {
      color: black;
    }
  }
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: auto;

  display: flex;
  padding: 1.5rem;
  background-color: rgb(73, 73, 73);
  justify-content: center;
  width: 100%;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .intro {
    max-width: 50%;
    color: white;
  }
}
